*{
	margin: 0px;
	padding: 0px;
}
body{ font-family:"微软雅黑";	height: 100%;
	background: #fff; width:100%;
}

.zc-2-1 input{ font-size:13px; color:#999; width:200px;}

.zc{ width:90%; margin:0 auto; text-align:center; border:1px solid #ff546a; border-top:0px; margin-top:25%; }
.zc-2-4 a img{ max-width:20px; margin-right:5px; }

.zc-2-4 a{ color:#666; margin-left:5px; margin-right:5px;}

.zc-1{ font-weight:bold;    width: 100%;
    border: 1px solid #d3d3d3;
    border-left: 0;
    background-color: #ff546a;
    color: #fff;
  
	height:40px; line-height:40px;
 
    cursor: default;}
.zc-2-1 input{ line-height:27px;}
.zc-2-1{ margin-top:20px; margin-bottom:20px;}
.zc-22{ color:#ff546a; font-size:14px; padding-right:10px; }
.zc-2-2{ margin-top:-15px;}
.zc-2-3-1 a{
    display: inline; padding:5px 30px; border-radius:3px; text-decoration:none;
    border: 1px solid #ff546a;
    background: #ff546a;
    font-size: 14px;
    color: #fff;
    text-align: center; margin-left:15%;}

.zc-2-3{ margin-top:30px; margin-bottom:20px;}
.zc-2-3-2 a{ font-size:13px; color:#666; margin-left:20px; }
.zc-222{ color:#a4a4a4; font-size:13px;}
.zc-2-4{ font-size:13px; border-bottom:1px solid #eee; padding-bottom:15px;}
.zc-2-5 a{ color:#7f7f7f; font-size:13px;}
.zc-2-5{ margin-top:20px; margin-bottom:20px; }
.zc-2-11 a{ color:#fff; margin-left:-80px; font-size:13px; background:#ff546a; padding:7px 8px; text-decoration:none; }
.zc-2-11 input{ line-height:27px; font-size:13px; color:#999; width:100px;}


















